body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica Neue';
    font-weight: 350;
}
h1 {
  color:#3D3D3D;
  font-size: 24px;

}

.desc {
  padding-top: 15px;
    font-size: 14px;
    text-align: justify;
    color:#3D3D3D;
}

body {
    position: relative;
}
ul.nav-pills {
    top: 20px;
    position: fixed;
}
div.col-8 div {
/*    height: 800px;*/
  margin-top: 20px;

}

.keyfigures {
padding-top: 230px;
/*position: fixed;*/
width: 100%;
color:#3D3D3D;

}