body, h1, h2, h3, h4, h5, h6, span {
    font-family: 'Source Sans Pro', sans-serif;
}
h2 {
  color:#007A45;
  font-size: 20px;
}

h1 {
  color:#007A45;
  font-size: 28px;
}

h4 {
  color:#3D3D3D;
  font-size: 20px;

}

.desc {
  padding-top: 15px;
    font-size: 14px;
    text-align: justify;
    color:#3D3D3D;
}


div.col-md-6 {
  padding-right: 0px;
  padding-left: 0px;

}

hr{
  margin-top: 5px;
  margin-bottom: 5px;
}



.keyFigures h6{
    font-size: 0.9em;
}
/*
h1+p {
	margin-bottom: 20px;
}*/

.kf span {
    color: #007A45;
    font-size: 1.3em;
}

#chart{
    width:100%;
}

/*.mapSection{
  padding-top: 0px;
}*/

#map {
  width: 100%;
}

/*.description{
  font-size: 14px;
  text-align: justify;
}*/

.dc-chart g.row text {
    dominant-baseline: middle;
    fill: #333;
    font-size: 0.9em;
}

.container {
    display: none;
    /*width: 1240px;*/
}

.loader {
    animation: spin 2s linear infinite;
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    height: 70px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 70px;
}

.d3-tip {
    padding: 5px;
    background-color: '#007A45';
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 14px;
}